body{
    background-color: rgba(255, 192, 203, 0.667);
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

h1{
    text-align: center;
    font-size: 80px;
    color: rgb(56, 15, 161);
}

img{
    height: 500px;
    width: 400px;
    border: solid black 1px;
    border-radius: 10px;
    box-shadow: 1px 0px 2px 3px;
}

button{
    height: 50px;
    width: 50px;
    background-color: rgb(164, 157, 157);
    margin: 10px;
    border-radius: 10px;
}

input{
    height: 50px;
    width: 50px;
    border-radius: 10px;
    margin-top: 40em;
}